.body {
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
}

/*СТИЛИ ХЕДЕРА*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin: 92px 24px 96px 24px;
  width: 1052px;
  min-height: 105px;
  max-height: 100vh;
}

.logo {
  display: flex;
  width: 148px;
  height: 105px;
}

.menu {
  display: flex;
  list-style-type: circle;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  font-weight: 400;
  padding: 44px 26px 0 26px;
  letter-spacing: 0.01em;

}

.active_point {
  list-style-type: none;
}

.no_underline {
  text-decoration: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
  margin-top: 7px;
  margin-left: 184px;
  min-height: 98px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0.01em;
}

/*СТИЛИ ОСНОВНОЙ ЧАСТИ*/

.cover {
  background-image: url("../images/cover.jpg");
  background-position: center;
  min-height: 757px;
  background-size: cover;
  text-transform: uppercase;
  color: white;
  position: relative;
  z-index: 1;
}

.title_main {
  position: relative;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: white;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  padding: 165px 50px 0px 50px;
}

.without_space {
  letter-spacing: normal;
}

.letters_up {
  text-align: left;
}

.letters_center {
  text-align: center;
  margin-top: 15px;
}

.letters_down {
  text-align: right;
}

.letters_space {
  letter-spacing: 0.6em;
}

.text_cover {
  display: flex;
  padding: 125px 50px 0px 78px;
  font-size: 22px;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
}

.text_main {
  display: flex;
  position: relative;
  word-spacing: 0.8em;
  z-index: 2;
}

.letter_v {
  letter-spacing: 0.1em;
}

.button {
  display: flex;
  position: relative;
  border: none;
  padding: 12px 32px 11px 31px;
  background: none;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: white;
  text-transform: uppercase;
  outline: 1px solid white;
  z-index: 2;
}

/*КАРТОЧКИ*/

.lots {
  display: flex;
  position: relative;
  gap: 25px;
  margin-right: 24px;
  margin-left: 24px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card_link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.text_lots {
  text-align: left;
  margin: 179px 0px 27px 64px;
  font-size: 40px;
  font-weight: 700; 
  text-transform: uppercase;
}

.anderson_lot {
  background-image: url("../images/card-lot-01.jpg");
}

.joic_lot {
  background-image: url("../images/card-lot-02.jpg");
}

.kandinskii_lot {
  background-image: url("../images/card-lot-03.jpg");
  letter-spacing: 0.013em;
}

.lot {
  display: flex;
  position: relative;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  min-width: 334px;
  min-height: 563px;
}

.text__card {
  display: flex;
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 51px 40px 48px 40px;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  max-width: 334px;
}

.title_card_style {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.text_card_style {
  font-size: 20px;
  font-weight: 400;
}

.overlay {
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0px;

} 

.more {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-left: 64px;
}

/*ОБ АУЦИОНЕ*/

.about {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  column-gap: 72px;
  margin: 181px 24px 0px 71px;
}

.title_about {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  grid-column-start: 2;
  margin-top: 101px;
}

.text_about {
  font-size: 20px;
  font-weight: 400;
}

.about_top {
  grid-column-start: 2;
  margin-top: 8px;
  margin-right: 5px;
  letter-spacing: 0.01em;
  line-height: 24px;
}

.pafos {
  letter-spacing:normal;
}

.our {
letter-spacing: 0.02em;
}

.was {
letter-spacing: -0.01em;
}

.diary {
letter-spacing: 0.03em;
}

.about_bottom {
  grid-column-start: 2;
  margin-top: 24px;
  line-height: 24px;
}

.they {
  letter-spacing: 0.04em;
}

.unhappy {
letter-spacing: 0.01em;
}

.background_logo {
  display: grid;
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.logo_circle {
  place-self: center;
  width: 148px;
  height: 114px;
}

.footer {
  display: flex;
  margin: 180px 50px 88px 50px;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 400;
}

.contacts_end {
  text-align: left;
  margin-left: 0px;
  margin-top: 0px;
  letter-spacing: 0.01em;
}

.menu_end {
  list-style-type: none;
  flex-direction: column;
  gap: 0px;
  padding: 0px;
  margin: 1px 0px 0px 40px;
}

.social_media_icon {
  width: 48px;
  height: 48px;
}

.social_media {
  display: flex;
  justify-content: space-between;
  width: 240px;
}
